@import "tailwindcss";

/* Background responsive */
.bg-responsive {
  background-image: none;
}

@media (min-width: 1024px) {
  .bg-responsive {
    background-image: url('/assets/Frame 4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

  
  .swiper-container {
  position: relative;
  padding-bottom: 100px;
  margin-right: 128px;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background-color: white !important;
  margin-right: 20px !important; 
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-pagination {
  position: absolute !important;
  bottom: 0 !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  text-align: center !important;
  z-index: 10 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.swiper-pagination-market {
  .swiper-pagination {
    position: absolute !important;
    bottom: 40px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    text-align: center !important;
    z-index: 10 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
}


